#include <winver.h>
#include "Version.h"

1 ICON "PlaylistControl.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     PLAYLISTCONTROL_VERSION_MAJOR, PLAYLISTCONTROL_VERSION_MINOR, PLAYLISTCONTROL_VERSION_PATCH, 0
PRODUCTVERSION  PLAYLISTCONTROL_VERSION_MAJOR, PLAYLISTCONTROL_VERSION_MINOR, PLAYLISTCONTROL_VERSION_PATCH, 0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "CompanyName",      "Caio Pacifico"
            VALUE "FileDescription",  "Playlist Control"
            VALUE "FileVersion",      PLAYLISTCONTROL_VERSION_STRING
            VALUE "InternalName",     "PlaylistControl"
            VALUE "OriginalFilename", "PlaylistControl.exe"
            VALUE "ProductName",      "Playlist Control"
            VALUE "ProductVersion",   PLAYLISTCONTROL_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x416, 1200
    END
END
